*{
   box-sizing:border-box;
   
   }
    
    body{
  background-color: #f5f5f5;
  
  
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;  
  scroll-behavior: smooth;
  
}

h1 h2 h3 h4 h5 h6{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  
}

img{
    max-width:100%;
    
    
    
}


 /*navbar*/

 .nav-list {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color:#000;
    padding-top: 10px;
    color: #f1f1f1;
   }
 
   .nav-item{
     margin-right: 50px;
     margin-left: 50px;
     
   
   }
 
   .nav-item a{
     color: #f1f1f1;
     text-decoration: none;
     text-transform: capitalize;
   }
 
   .nav-item a:hover{
    background-color: #f5f5f5;
    color: #000;
   }
 
   .nav-item a:active{
     color:#ffffff;
   }
 
   .nav-item:nth-child(2){
     margin-left: auto;
   }
 
  /*navbar*/

  /*welcome-section*/

  #Hero-section{
background-color: #f1f1f1;
  }

  .container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
  }

  .Hero-img{
  
  
  }


  .Hero_text{
    text-align: justify;
   margin-left: 10px;
   margin-right: 90px;
   padding: 15px;
   color: #000;
   /*color: #ffffff;*/
  }

  .button{
            height: 30px;
        border:#ffffff solid 1px ;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
        background-color: #000;
    
      
  }

  .button:hover{
    background-color: #000;
  }

/*project page*/

/*grid layout*/

.service h3{
  text-align: center;
  font-size: 25px;
}

/*Moblie Phone*/

  .service-grid{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap:20px; 
    padding: 32px;
  }


/*Tablet*/
@media (min-width:600px){
  .service-grid{
    grid-template-columns:repeat(2, 1fr)
  }
}

/*Laptop*/
@media (min-width:900px){
  .service-grid{
    grid-template-columns: repeat(3, 1fr);
  }
  button{
    padding: 1px 1px;
    font-size: 15px;
  }
}

  .service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    margin: 20px;
  }

  .service-card img{
    width:100%;
    height:100%;
    object-fit: contain;
   
  }

  .service-card h2{
    font-size: 17px;
    margin-bottom: 10px;
  }

  .service-card p{
    font-size: 15px;
    color: #666;
    margin-bottom:20px;
  }

  .service-card button{
    padding: 5px 15px;
    border: #000 solid 1px;
    border-radius:30px;
    cursor: pointer;
    
  }

.service-card button:hover{
background-color: #000;
color: #fff;
}

.service-card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


/*about*/
  #about{
    margin: 15px;
    padding: 15px;
    background-color: #f1f1f1;
    color: #000;
  }

  #about_me{
    text-align: center;
  }

  #about_info{
    text-align: justify;
    text-decoration: none;
    text-orientation: upright;
    font-size: 18px;
  }


   /*about_bar*/

 .about_list {
  list-style: none;
  margin:0;
  padding:0;
  display: flex; /*flex used here*/
  justify-content: space-around;
  align-content: center;
  padding-top: 20px;
 }

 .about_container{
   margin-right: 50px;
   margin-left: 50px;
   text-align: center;
   
 
 }

 .about_container{
   color: #000;
   text-decoration: none;
   font-size: 15px;
 }


/*about_bar*/


/*Testimonial*/
/*grid layout*/

.Testimonial_card{
  display: flex;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
  margin: 5px;
  flex-direction:column;
  justify-content: space-between;
    
}

.testimonial_1{
  font-size: 15px;
}


#client{
  text-align: center;
  font-size: 25px;
  color: #000000;
}

/*Mobile Phone*/
.testimonial_grid{
  display: grid;
    grid-template-columns: repeat(2,  1fr);
    gap:20px;  
    padding: 32px;
}

/*Tablet*/
@media(min-width:600px) {
  .testimonial_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  
}


/*Laptop*/
@media(min-width:900px){
  .testimonial_grid{
    grid-template-columns: repeat(6, 1fr);
  }
}


.Testimonial_card:hover{
animation: bounce 1s ease;
}

@keyframes bounce{
  0% { transform: translateY(0);
  opacity: 0;}
  30% {transform: translateY(-15px);
  opacity: 1;}
  50% { transform: translateY(0);
  opacity: 0.8;}
  70% {transform: translateY(-15px);
  opacity: 0.6;}
  100% {transform: translateY(0);
  opacity: 0;}
}


/*Testimonials*/


/*footer*/
.footer{
  background-color: #000;
  color:#f1f1f1;
  padding: 50px;
  display:flex;/*flex used here*/
  justify-content:space-between;
}

.footer-section{
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-section h3{
  margin-top: 0;
}

.footer-section p{
  margin-right: 60px;
}

.quick-link{
  list-style: none;
 margin:0;
 padding:0;
 display: block;
 color: #f1f1f1;
 text-decoration: none;

 
}

.foot{
  text-align: left;
  font-size: 5px;
}

#footer-links{
  font-size: 16px;
  text-align: center;
}

#footer-links:hover{
text-transform:uppercase;
}
.copyright{
  text-align: center;
  border-top: 1px solid #333;
  padding-top:10px;
}



.form-section{
  max-width: 300px;
  padding: 10px;
  margin-bottom: 1px;
  background-color:  #fff;
  color: #000;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.button_submit{
  height: 27px;
  border: #000 solid 1px ;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;

}

.button_submit:hover{
background-color: #000;
color:#ddd
}


/*footer*/


/*Media Query*/

/*Mobile Phone style-from 200px up*/
@media(max-width:600px){

  .nav-list{
    flex-direction: column;
    gap: 1px;
    

  }

  .nav-item:nth-child(2){
    margin-left: auto;
  }

  .nav-item:nth-child(3){
    margin-left: auto;
  }

  .nav-item:nth-child(4){
    margin-left: auto;
  }

  .nav-item:nth-child(5){
    margin-left: auto;
  }

  .nav-item:nth-child(6){
    margin-left: auto;
  }



  .Hero_text h2{
    font-size:30px;
  }

  .Hero_text p{
    font-size: 10px;
    
  }

  .Hero_text .button{
flex-direction: row;
padding: 15px 5px;

  }


  .container{
    flex-direction: column;
  }

  

  .about_list{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer{
flex-wrap: wrap;
justify-content: center;
  }
}



/*Tablet style-from 600px up*/
@media(max-width:900px){

  .nav-list{
    flex-direction: column;
    gap: 16px;
  }

  .nav-item:nth-child(2){
    margin-left: auto;
  }

  .nav-item:nth-child(3){
    margin-left: auto;
  }

  .nav-item:nth-child(4){
    margin-left: auto;
  }

  .nav-item:nth-child(5){
    margin-left: auto;
  }

.nav-item:nth-child(6){
    margin-left: auto;
  }

  .Hero_text h2{
    font-size:30px;
  }

  .Hero_text p{
    font-size: 10px;
  }

  .container{
    flex-direction: column;
  }


  .about_list{
    flex-direction: row;
  }

  .footer{
    flex-wrap: wrap;
justify-content: center;
  }
}



/*Laptop style-from 900px up*/
@media(min-width:900px){

.nav-bar{
  padding: 1.5rem 3rem;
}

  .nav-list{
    gap: 1rem;
  }

  .Hero_text h2{
    font-size:2rem;
  }

  .Hero_text p{
    font-size: 1.1rem;
  }

  .container{
    flex-direction: row;
  }


  .about_list{
    flex-direction: row;
  }

  .footer{
    justify-content: space-between;
}

  
}

/*Media Query*/
